body {
    font-family: Verdana;
    background-color: #1d1d1d;
    color: #dadada;
}

h2 {
    margin-top: 0px;
}

.website {
    width: 850px;
    margin: auto;
    font-size: 12px;
    margin-top: 50px;
}

.headline {
    float: left;
    width: 822px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #4b4b4b;
    background-color: #292929;
}

.menu {
    float: left;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #4b4b4b;
    background-color: #292929;
}

.content {
    float: left;
    width: 700px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #4b4b4b;
    background-color: #292929;
}

.menu a {
    color: #dadada;
    font-size: 12px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

a.download {
    color: #8dfd6b;
    text-decoration: none;
}

input[type="submit"]:disabled {
    background-color: #f0ee9b;
    color: black;
}

/* Zend_Form BEGIN*/
.errors{ /* Error Messages */
    margin-left: -25px;
    color: #fd4e4e;
    font-weight: bold;
}

dl{ /* Inputfields */
    margin-left: -40px;
}

dt{ /* Label */
    margin-left: 40px;
}
/* Zend_Form END*/